<div class="header">
    <div class="name" trans>Saved Images</div>
    <button class="close-button" mat-icon-button (click)="panelRef.close()">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>
<button class="addLibraryImage">
    Add Custom Image
</button>
<!-- 
<button class="addLibraryText">
    Add Text
</button> -->
<div class="items-list" customScrollbar>
    <div *ngFor="let object of this.library">
        <div class="floating-panel-item"
        (click)="addObject(object)">
            <mat-icon [svgIcon]="getIcon(object.Type)" class="list-icon"></mat-icon>
            <div class="name" trans>{{object.Name}}</div>
        </div>
    </div>
</div>
<div class="text-input" [class.hidden]>

</div>