@import "../../../../../scss/variables";

pages-drawer {
  display: block;

  button {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #bd1e2c;
    color: #fff;
    font-size: 1.0625em;
    margin: .3125em;
    padding: .625em 2em;
    box-shadow: none;
    font-weight: 700;
    cursor: pointer;
  }

  button:hover {
    background-color: #a9101d;
  }

  .separator {
    height: 75px;
    width: 1px;
    flex: 0 0 1px;
    background-color: mat-color($app-foreground, divider-lighter);
    margin: 0 20px;
  }

  .currentProject {
    box-shadow: #bf202f 0px 0px 3px 3px !important;
    margin: 0 5px;
  }

  .page-image {
      height:95px;
      border:1px solid #e0e0e0;
  }

  .projectPage {
      margin: 0 5px; 
      cursor:pointer;

      &:hover {
        box-shadow:#94dbe0 0px 0px 3px 3px;
      }
  }

  .pageContainer {
      display:flex;
}

}
