<div class="content" [class.hidden]="activePanel$ | async">
    <div class="button-with-image" (click)="openPanel('textStyle')" *ngIf="activeObjIsText$ | async">
        <mat-icon svgIcon="text-options-custom"></mat-icon>
        <div class="bottom-label" trans>Text Style</div>
    </div>

    <div class="button-with-image" (click)="openPanel('color')" *ngIf="activeObjIsText$ | async">
        <mat-icon svgIcon="color-custom"></mat-icon>
        <div class="bottom-label" trans>Color</div>
    </div>

    <div class="button-with-image" [class.active]="currentObjectInfo.shadow == true" (click)="openPanel('shadow')">
        <mat-icon svgIcon="shadow-custom"></mat-icon>
        <div class="bottom-label" trans>Shadow</div>
        <div class="bottom-label appliedBottomText" [class.hidden]="currentObjectInfo.shadow != true" trans>Applied</div>
    </div>

    <ng-container *ngIf="!(activeObjIsSvg$ | async)">
        <div class="button-with-image" [class.active]="currentObjectInfo.outline == true" (click)="openPanel('outline')">
            <mat-icon svgIcon="outline-custom"></mat-icon>
            <div class="bottom-label" trans>Outline</div>
            <div class="bottom-label appliedBottomText" [class.hidden]="currentObjectInfo.outline != true" trans>Applied</div>
        </div>

        <div class="button-with-image" [class.active]="currentObjectInfo.background == true" (click)="openPanel('background')" >
            <mat-icon svgIcon="background-custom"></mat-icon>
            <div class="bottom-label" trans>Background</div>
            <div class="bottom-label appliedBottomText" [class.hidden]="currentObjectInfo.background != true" trans>Applied</div>
        </div>

        <div class="button-with-image" [class.active]="currentObjectInfo.fill == true" (click)="openPanel('fill')" >
            <mat-icon svgIcon="background-custom"></mat-icon>
            <div class="bottom-label" trans>Fill</div>
            <div class="bottom-label appliedBottomText" [class.hidden]="currentObjectInfo.fill != true" trans>Applied</div>
        </div>
    </ng-container>

    <div class="button-with-image" [class.active]="currentObjectInfo.texture == true" (click)="openPanel('texture')" *ngIf="activeObjIsText$ | async">
        <mat-icon svgIcon="texture-custom"></mat-icon>
        <div class="bottom-label" trans>Texture</div>
        <div class="bottom-label appliedBottomText" [class.hidden]="currentObjectInfo.texture != true" trans>Applied</div>
    </div>

    <div class="button-with-image" [class.active]="currentObjectInfo.gradient == true" (click)="openPanel('gradient')" *ngIf="(activeObjIsText$ | async)">
        <mat-icon svgIcon="gradient-custom"></mat-icon>
        <div class="bottom-label" trans>Gradient</div>
        <div class="bottom-label appliedBottomText" [class.hidden]="currentObjectInfo.gradient != true" trans>Applied</div>
    </div>

    <div class="button-with-image" [class.active]="currentObjectInfo.opacity == true" (click)="openPanel('opacity')">
        <mat-icon svgIcon="opacity-custom"></mat-icon>
        <div class="bottom-label" trans>Opacity</div>
        <div class="bottom-label appliedBottomText" [class.hidden]="currentObjectInfo.opacity != true" trans>Applied</div>
    </div>

    <div class="button-with-image" (click)="replaceImage()" *ngIf="(activeObjIsImage$ | async) || (activeObjIsSvg$ | async)">
        <mat-icon svgIcon="switch-camera"></mat-icon>
        <div class="bottom-label" trans>Replace</div>
    </div>
</div>

<ng-container [ngSwitch]="activePanel$ | async">
    <text-controls-drawer class="content" *ngSwitchCase="'textStyle'"></text-controls-drawer>
    <color-controls-drawer class="content" *ngSwitchCase="'color'" controlName="fill" trans>Color</color-controls-drawer>
    <shadow-controls-drawer class="content" *ngSwitchCase="'shadow'"></shadow-controls-drawer>
    <outline-controls-drawer class="content" *ngSwitchCase="'outline'"></outline-controls-drawer>
    <color-controls-drawer class="content" *ngSwitchCase="'background'" controlName="backgroundColor" trans>Background Color</color-controls-drawer>
    <texture-controls-drawer class="content" *ngSwitchCase="'texture'"></texture-controls-drawer>
    <gradient-controls-drawer class="content" *ngSwitchCase="'gradient'"></gradient-controls-drawer>
    <opacity-controls-drawer class="content" *ngSwitchCase="'opacity'"></opacity-controls-drawer>
    <fill-drawer class="content" *ngSwitchCase="'fill'"></fill-drawer>
</ng-container>
