<div class="content">
    <button class ="projects-button" data-site="logos/index">Logos</button>
    <button class ="projects-button" data-site="rebate-center/index">Rebates</button>
    <button class ="projects-button" data-site="image-editor/readyposts">ReadyPosts</button>
    <button class ="projects-button" data-site="vehicle-images">Vehicle Images</button>
    <div class="separator ng-star-inserted"></div>
    <button class ="projects-button" (click)="triggerUpload();">Upload Custom</button>
    <button class ="saved-images-button" (click)="panels.toggleLibrary()">Saved Images</button>
</div>