<div class="content" [formGroup]="activeObject.form">
    <div class="projects-button-wrapper">
        <div class="round-action-button projects-button" (click)="addText()">
            <mat-icon svgIcon="add"></mat-icon>
        </div>
        <div class="bottom-label" trans>Logos</div>
    </div>

    <div class="projects-button-wrapper">
        <div class="round-action-button projects-button" (click)="addText()">
            <mat-icon svgIcon="add"></mat-icon>
        </div>
        <div class="bottom-label" trans>Rebates</div>
    </div>

    <div class="projects-button-wrapper">
        <div class="round-action-button projects-button" (click)="addText()">
            <mat-icon svgIcon="add"></mat-icon>
        </div>
        <div class="bottom-label" trans>Readyposts</div>
    </div>

    <div class="projects-button-wrapper">
        <div class="round-action-button projects-button" (click)="addText()">
            <mat-icon svgIcon="add"></mat-icon>
        </div>
        <div class="bottom-label" trans>Vehicle Images</div>
    </div>

    <div class="projects-button-wrapper">
        <div class="round-action-button projects-button" (click)="addText()">
            <mat-icon svgIcon="add"></mat-icon>
        </div>
        <div class="bottom-label" trans>Upload Custom Image</div>
    </div>

</div>