<ng-container *ngIf="activePanel$ | async as activePanel">
    <navigation-bar *ngIf="activePanel === 'navigation'" @controlsAnimation></navigation-bar>

    <div class="tool-panel-container" [ngSwitch]="activePanel" [class.hidden]="activePanel === 'navigation'">
        <button class="cancel-button" mat-raised-button (click)="imageEditor.cancelChanges()" trans>
            <span trans *ngIf="dirty$ | async; else close">Cancel</span>
            <ng-template #close><span trans>Close</span></ng-template>
        </button>

        <div class="drawer-wrapper" customScrollbar [suppressX]="false">
            <filter-drawer *ngSwitchCase="'filter'" @controlsAnimation></filter-drawer>
            <resize-drawer *ngSwitchCase="'resize'" @controlsAnimation></resize-drawer>
            <transform-drawer *ngSwitchCase="'transform'" @controlsAnimation></transform-drawer>
            <crop-drawer *ngSwitchCase="'crop'" @controlsAnimation></crop-drawer>
            <projects-drawer *ngSwitchCase="'projects'" @controlsAnimation></projects-drawer>
            <pages-drawer *ngSwitchCase="'pages'" @controlsAnimation></pages-drawer>
            <add-part-drawer *ngSwitchCase="'addPart'" @controlsAnimation></add-part-drawer>
            <tools-drawer *ngSwitchCase="'tools'" @controlsAnimation></tools-drawer>
            <!-- <parts-drawer *ngSwitchCase="'projects'" @controlsAnimation></parts-drawer> -->
            <draw-drawer *ngSwitchCase="'draw'" @controlsAnimation></draw-drawer>
            <text-drawer *ngSwitchCase="'text'" @controlsAnimation></text-drawer>
            <shapes-drawer *ngSwitchCase="'shapes'" @controlsAnimation></shapes-drawer>
            <stickers-drawer *ngSwitchCase="'stickers'" @controlsAnimation></stickers-drawer>
            <round-drawer *ngSwitchCase="'corners'" @controlsAnimation></round-drawer>
            <frame-drawer *ngSwitchCase="'frame'" @controlsAnimation></frame-drawer>
            <canvas-background-drawer *ngSwitchCase="'background'" @controlsAnimation></canvas-background-drawer>
            <warnings-drawer *ngSwitchCase="'warnings'" @controlsAnimation></warnings-drawer>
            <object-settings-drawer *ngSwitchCase="'objectSettings'" @controlsAnimation></object-settings-drawer>
            <pane-drawer *ngSwitchCase="'pane'" @controlsAnimation></pane-drawer>
            <custom-drawer *ngSwitchDefault @controlsAnimation></custom-drawer>
        </div>

        <button class="apply-button" [class.hidden]="activePanel === 'projects' || activePanel === 'tools' || activePanel === 'warnings' || activePanel === 'pages' || activePanel === 'pane' || activePanel === 'addPart'" mat-raised-button color="accent" (click)="imageEditor.applyChanges()" [disabled]="!(dirty$ | async)" trans>Apply</button>
    </div>

    <floating-object-controls *ngIf=" (showFloatingPanel()) && (activeObjId$ | async) || (breakpoints.isMobile$ | async)"></floating-object-controls>
</ng-container>
