<div class="content">
    <button class="button-with-image tool-button" (click)="openPanel('resize')">
        <mat-icon [svgIcon]="'resize-custom'"></mat-icon>
        <span class="name bottom-label" trans>Resize</span>
    </button>

    <button class="button-with-image tool-button" (click)="openPanel('crop')">
        <mat-icon [svgIcon]="'crop-custom'"></mat-icon>
        <span class="name bottom-label" trans>Crop</span>
    </button>

    <button class="button-with-image tool-button" (click)="openPanel('transform')">
        <mat-icon [svgIcon]="'transform-custom'"></mat-icon>
        <span class="name bottom-label" trans>Transform</span>
    </button>

    <div class="separator ng-star-inserted"></div>

    <button class="button-with-image tool-button" (click)="openPanel('filter')">
        <mat-icon [svgIcon]="'filter-custom'"></mat-icon>
        <span class="name bottom-label" trans>Filter</span>
    </button>

    <button class="button-with-image tool-button" (click)="openPanel('warnings')">
        <mat-icon [svgIcon]="'warnings-custom'"></mat-icon>
        <span class="name bottom-label" trans>Warnings</span>
    </button>

    <!-- <button class="button-with-image tool-button" (click)="openPanel('text')">
        <mat-icon [svgIcon]="'text-box-custom'"></mat-icon>
        <span class="name bottom-label" trans>Text</span>
    </button>

    <button class="button-with-image tool-button" (click)="openPanel('shapes')">
        <mat-icon [svgIcon]="'polygon-custom'"></mat-icon>
        <span class="name bottom-label" trans>Shapes</span>
    </button> -->

    <button class="button-with-image tool-button" (click)="openPanel('frame')">
        <mat-icon [svgIcon]="'frame-custom'"></mat-icon>
        <span class="name bottom-label" trans>Frames</span>
    </button>

    
    <div class="separator ng-star-inserted"></div>

    <button class="button-with-image tool-button" (click)="openPanel('corners')">
        <mat-icon [svgIcon]="'rounded-corner-custom'"></mat-icon>
        <span class="name bottom-label" trans>Corners</span>
    </button>

    <button class="button-with-image tool-button" (click)="openPanel('background')">
        <mat-icon [svgIcon]="'background-custom'"></mat-icon>
        <span class="name bottom-label" trans>Background</span>
    </button>

    <button class="button-with-image tool-button" (click)="openPanel('merge')">
        <mat-icon [svgIcon]="'merge-custom'"></mat-icon>
        <span class="name bottom-label" trans>Merge</span>
    </button>

</div>