<div class="header">
    <!-- <div class="name" trans>Choose where you want your part to go by moving and resizing the placeholder!The part will be dynamically added in once you click Add Part.</div> -->
    <!-- <button class="close-button" mat-icon-button (click)="panelRef.close()">
        <mat-icon svgIcon="close"></mat-icon>
    </button> -->
</div>
<!-- <p>Position and resize the placeholder wherever you want! when you're happy with it, click Add Part to dynamically load in the part or Cancel to cancel</p> -->
<button class="addPartToPlaceholder" (click)="panelRef.close()">
    Add Part
</button>

<button class="cancelAddingPart" (click)="panelRef.close()">
    Cancel
</button>